::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 20px;
  border: '1px solid #2196f35c'
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #deb8879e;
  /* -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5); */
}

 